html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #a1b7f3;
  overflow: hidden;
  font-family: "Coda", cursive;
}
 
/****** Page d'accueil ******/

#timer {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 60px;
}


.container {
  flex: 1;
  border-radius: 20px;
  margin: 4%;
  padding: 5%;
  background-color: #ff9fbc;
  transition-duration: 1s;
}

.square_button {
  padding: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

.square_button:visited {
  color: black;
}

.container:hover {
  box-shadow: 10px 10px 2px 1px #000000;
  transition-duration: 1s;
}

/****** Mini-jeux ******/
/*
MEMORY 
*/
.deck {
  width: 345px;
  margin: 0 auto;
  background: #fffdbe;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 14px 14px 0 0 #000000;
}
.deck .card {
  height: 75px;
  width: 75px;
  background: #ffe0aa;
  display: inline-block;
  margin: 0 15px 15px 0;
  line-height: 140px;
  font-size: 0;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  vertical-align: top;
  cursor: pointer;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  font-family: FontAwesome;
  line-height: 75px;
}
.deck .card:nth-child(4n) {
  margin: 0 0 15px 0;
}
.deck .card:nth-child(n+13) {
  margin: 0 15px 0 0;
}
.deck .card:nth-child(n+13):nth-child(4n) {
  margin: 0;
}
.deck .card.open {
  transform: rotateY(0);
  background: #89C4FF;
  cursor: default;
}
.deck .card.show {
  font-size: 33px;
}
.deck .card.match {
  transform: rotateY(0);
  cursor: default;
  background: #dbff94;
  font-size: 33px;
}
.deck .card.notmatch {
  background: #ff9fbc;
}

#score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}
#score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}
#score-panel .stars li {
  list-style: none;
  display: inline-block;
}
#score-panel .restart {
  float: right;
  cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.swal2-overlay {
  background-color: white;
}